<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel = "stylesheet" href = "/css/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script type="text/javascript" src="/js/profile.js"></script>
</head>

<body>
	<audio src="/audio/A Day in Mondstadt.mp3" autoplay loop>
			<embed height="20" type="audio/midi" width="144" src="/audio/A Day in Mondstadt.mp3" volume="60" loop="true" autostart="true" />
	</audio>
	
	<div class = "sidebar">
		<img src = "/images/characters/paimon.jpg" class = "profile_pic">
		<div class = "menu">
			<h3>{{name}}</h3> <!--INSERT NAME OF USER-->
			<ul>
				<!-- <li><a href = "home.html">home</a></li> -->
				<!-- <li><a href = "#">planner</a></li> -->
				<li><a href = "/"> Log out</a></li>
			</ul>
		</div>
	</div>
	
<!--
    <div id="bio-form-container">
                                <form id="bio-form" method="GET">
                                    <input type="text" id="bio-input" name="bio" class="float-left profile-edit" placeholder="{{bio}}"></input>
                                    <input type="submit" id="bio-submit" class="btn btn-outline-primary save-btn" value="save"></input>
                                </form>
                            </div> -->
	<div class = "main">
		<img src = "/images/characters/razor.png" class = "character_pic">

        <div id="chara-name" class = "stats1">
            Name:
            <p class="stats1">{{character}}</p>
            <form id="chara-form" method="GET">
                <input type="text" id="chara-input" name="chara" class="stats1" placeholder="{{character}}"></input>
                    <input type="submit" id="chara-submit" class="save-btn" value="save"></input>
            </form>
        </div>

        <div id="vision-name" class = "stats1">
            Vision:
            <p class="stats1">{{vision}}</p>
            <form id="vision-form" method="GET">
                <input type="text" id="vision-input" name="vision" class="stats1" placeholder="{{vision}}"></input>
                    <input type="submit" id="vision-submit" class="save-btn" value="save"></input>
            </form>
        </div>
		 
         <div id="weap-name" class = "stats_weapon">
            Weapon:
            <p class="stats1">{{weapon}}</p>
            <form id="chara-form" method="GET">
                <input type="text" id="weap-input" name="weap" class="stats1" placeholder="{{weapon}}"></input>
                    <input type="submit" id="weap-submit" class="save-btn" value="save"></input>
            </form>
        </div>
		 <br>

        <!-- Flower of Life, Plume of Death, Sands of Eon, Goblet of Eonothem, and Circlet of Logos-->
        <div id="arti-name" class = "stats_weapon">
            Artifacts:<br>

            <h5>Flower of Life:</h5>
                <p class="stats1">{{flower}}</p>
                <form id="arti-form" method="GET">
                    <input type="text" id="flower-input" name="flower" class="stats1" placeholder="{{flower}}"></input>
                        <input type="submit" id="flower-submit" class="save-btn" value="save"></input>      
                </form>

            <h5>Plume of Death:</h5>
                <p class="stats1">{{plume}}</p>
                <form id="arti-form" method="GET">
                    <input type="text" id="plume-input" name="plume" class="stats1" placeholder="{{plume}}"></input>
                        <input type="submit" id="plume-submit" class="save-btn" value="save"></input>
                
            <h5>Sands of Eon:</h5>
                <p class="stats1">{{sands}}</p>
                <form id="arti-form" method="GET">
                    <input type="text" id="sands-input" name="sands" class="stats1" placeholder="{{sands}}"></input>
                        <input type="submit" id="sands-submit" class="save-btn" value="save"></input>

            <h5>Goblet of Eonothem:</h5>
                <p class="stats1">{{sands}}</p>
                <form id="arti-form" method="GET">
                    <input type="text" id="goblet-input" name="goblet" class="stats1" placeholder="{{goblet}}"></input>
                        <input type="submit" id="goblet-submit" class="save-btn" value="save"></input>
            
            <h5>Circlet of Logos:</h5>
                <p class="stats1">{{sands}}</p>
                <form id="arti-form" method="GET">
                    <input type="text" id="circlet-input" name="circlet" class="stats1" placeholder="{{circlet}}"></input>
                        <input type="submit" id="circlet-submit" class="save-btn" value="save"></input>

        </div>
		<div class ="artifacts">
			Artifacts: <strong><div class = "artifact_name">Gladiator's Finale</div></strong><br>

			<img src = "images/artifacts/gladiators/gf_flower.png" class="artifact_pic">
			<img src = "images/artifacts/gladiators/gf_feather.png" class="artifact_pic">
			<img src = "images/artifacts/gladiators/gf_circlet.png"	class="artifact_pic">
			<img src = "images/artifacts/gladiators/gf_goblet.png" class="artifact_pic">
			<img src = "images/artifacts/gladiators/gf_sands.png" class = "artifact_pic">

		</div>
	</div>
	
</body>
</html>